
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:"instrument-sans:semibold", sans-serif;  
}


.sabit-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}

.header-icerigi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 12px;
    padding-bottom: 10px;
    margin-right:15px;
    margin-left:15px;
}


.anaLogo{
    width:37px; 
    height:16px;
    
}

.ana-menu ul {
    list-style: none; 
    display: flex;    
}

.ana-menu li {
    margin-left: 55px; 
}

.ana-menu a {
    text-decoration: none; 
    color: #333333;     
    font-weight: 500;   
    font-size: 20px;    
}


.icerik {
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
}

.icerik-project {
    padding-top: 65px;
    padding-left: 15px;
    padding-right: 15px;
}

.icerik-about{
    padding-top: 65px;
    padding-left: 15px;
    padding-right: 15px;
    

}

.logo1{
    width:150px;
    opacity: 0;
}

.logo1.visible {
  animation: logoSoldanSaga 0.5s ease-out forwards;
}

.logo2{
    width:150px;
    margin-left:4px;
    animation: logoDondurme 1s ease-in-out forwards;
}

@keyframes logoSoldanSaga {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes logoDondurme {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.icerik>section>div:nth-child(3)>p:nth-child(1){
    font-size:60px; margin-top:30px;
}

.icerik>section>div:nth-child(3)>p:nth-child(2){
    font-size:60px;
}

.icerik>section>div:nth-child(3)>p:nth-child(3){
    font-size:60px; padding-bottom:170px; border-bottom:1px solid black;
}

.marquee-container {
            width: 100%;
            overflow: hidden;
            padding: 20px 50px 20px 0px;
            
           
        }

        .marquee {
            display: flex;
            width: fit-content;
            animation: scroll-left 50s linear infinite;
        }

        .marquee-content {
           display: flex;
           gap:30px;
           padding:0px 15px;
        }

        .marquee-item {
            display: flex;
            align-items:center;
            transition: transform 0.3s ease;
        }

        

        .emoji {
            height:446px;
            width:461.25px;
        }

        @keyframes scroll-left {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }

        .see-project {
      display:inline-flex;
      gap: 8px;
      color: #767676;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.3s ease;
      margin-bottom:100px;
    }

    .see-project .arrow {
      transition: transform 0.3s ease;
    }

    .see-project:hover {
      color: #000000;
    }

    .see-project:hover .arrow {
      transform: translateX(5px);
    }

    #paragraph1 {
        white-space:pre-wrap; 
        font-size:30px;
       margin-top:20px;
        
        
    }

    .container{
      display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    }

    .container2{
      display: flex;
      flex-direction: column;
    }

    .divozellik{
      padding-right:500px; 
      border-bottom:1px black solid; 
      padding-bottom:15px;
       margin-top: 20px;
    }

    .divozellik2{
      padding-right:500px; 
      padding-bottom:15px;
       margin-top: 20px;
    }

    .aboutTus{
      display:flex;
      gap: 8px;
      color: #767676;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 30px;
    }

     .yazi{
      font-size:30px;
      border-bottom:1px solid black;
      border-top:1px solid black;
      padding-top:30px;
      padding-bottom:30px;
      letter-spacing: 1px;
     }
     .aside3bol{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 40px;
      gap:14px;
     }

     .footerLogo{
      width:110px;
      height:55px;
      
     }

     .linkYazı{
      display:inline-block;
      text-decoration: none;
      color: #000000;     
      font-weight: 500;   
      font-size: 20px;
      white-space:pre-wrap;
      transition:color 0.3s ease;
      margin-bottom:50px;
      margin-top:25px;
     }

     .linkYazı:hover{
      color:#767676;
     }

     .footerNumber{
       display:inline-block;
      text-decoration: none;
      color: #000000;     
      font-weight: 500;   
      font-size: 20px;
      white-space:pre-wrap;
      transition:color 0.3s ease;
      margin-top:25px;
     }
     .footerNumber:hover{
      color:#767676;
     }  

     .footerMail{
      display:block;
      color: #000000;     
      font-weight: 500;   
      font-size: 20px;
      transition:color 0.3s ease;
      margin-bottom:100px;
      margin-top:10px;
    }

    .footerMail:hover{
      color:#767676;
     }

     .socialKisim{
      display:block;
      text-decoration: none;
      color: #000000;     
      font-weight: 500;   
      font-size: 20px;
      transition:color 0.3s ease;
      margin-bottom:10px;
     }

     .socialInsta{
      display:block;
      text-decoration: none;
      color: #000000;     
      font-weight: 500;   
      font-size: 20px;
      transition:color 0.3s ease;
      margin-top: 25px;
      margin-bottom:10px;
     }

     .socialKisim:hover{
      color:#767676;
     }

     .socialInsta:hover{
      color:#767676;
     }


     /* Project HTML */

     .caseStudy{
    
      display:inline-block;
      font-size:24px;
      color:#000000;
      transition: color 0.3s ease;
     }

      .caseStudy:hover{
        color:#767676;
      }

      .aside2bol{
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-top:30px;
        gap:45px;
      }

      .icerik-project>section>aside>div:nth-child(1)>p{
        font-size:64px;
        margin-top: 20px;
      }

      .icerik-project>section>aside>div:nth-child(2)>p:nth-child(1){
        font-size:20px;
        margin-top:10px;
        font-style: italic;
        white-space:pre-wrap;
      }
      .icerik-project>section>aside>div:nth-child(2)>p:nth-child(2){
        font-size:20px;
        margin-top:20px;
        color:#767676;
        white-space:pre-wrap;
        line-height: 1.4;
        
      }

      .ResimTop{
        width:100%;
        margin-top:150px;
        margin-bottom:10px;
      }

      .Resimler{
        width:100%;  
        margin-bottom:10px;    
      }

      .projectAsideImg{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width:100%;
        gap:15px;
        
      }

      .fade {
       opacity: 0;
       transition: opacity 0.5s ease;
      }
      .fade.visible {
       opacity: 1;
      }


      .ResimBottom{
       width:100%;
       margin-bottom:15px;
       padding-bottom:15px;
       border-bottom: 1px solid black ;
      }
      
      .otherProjectsYazi{
        font-size:64px;
        margin-bottom: 70px;
        margin-top:10px;
      }

      .projectsimage{
        width:100%;
        margin-top:30px;
        transition: opacity 0.5s ease;
        opacity:1;
      }

      .projectsimage:hover{
        opacity:0.8;
        
      }
      

      /* ABOUT HTML */

      .aside3bolAboutOsUst{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 25px;
        
       }
       .icerik-about>section>aside.aside3bolAboutOsUst>div:nth-child(1)>p{
        font-size:64px;

      }


      .icerik-about>section>p:nth-child(3){
        font-size:60px; 
        padding-bottom:200px;
        margin-top:20px;
        border-bottom: 1px solid black;
        white-space:pre-wrap;
      }

      .icerik-about>section>aside.aside3bolAboutOsUst>div:nth-child(2){
        margin-left:150px;
      }
      
      .section2Anabasliklar{
        color: #767676;
        font-size:16px;
        margin-bottom:20px;
      }
       
      .section2Aciklamalar{
        font-size:20px;
        white-space:pre-wrap;
        line-height: 1.4;
        margin-bottom:40px;
      
      }

  .reveal {
  opacity: 0;
  
  transition: opacity 0.3s ease
}

.reveal.visible {
  opacity: 1;

}

.aside3bolAboutOsAlt{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom:25px;
  border-bottom:1px solid black;
 }
 .icerik-about>section>aside.aside3bolAboutOsAlt>div:nth-child(1){
    border-right:1px solid black;
 }
 .icerik-about>section>aside.aside3bolAboutOsAlt>div:nth-child(2){
    border-right:1px solid black;
    margin-left:20px;
 }
 .icerik-about>section>aside.aside3bolAboutOsAlt>div:nth-child(3){
    margin-left:20px;
    height:282px;
 }


 .icerik-about>section>aside.aside3bolAboutOsAlt>div>h1{
    font-size:105px;
    font-weight:1;
 }

  .icerik-about>section>aside.aside3bolAboutOsAlt>div>p{
      font-size:20px;
      margin-top:40px;
  }

  .aside2bolAwards{
    display:grid;
    grid-template-columns: 1fr 850px;
    margin-top:30px;
    
    

  }

  .icerik-about>section>aside.aside2bolAwards>div:nth-child(1)>p{
    font-size:64px;
  }

   .icerik-about>section>aside.aside2bolAwards>div:nth-child(2){
    display:flex;
    flex-direction:column;
    gap:25px;

   }

   .icerik-about>section>aside.aside2bolAwards>div:nth-child(2)>div{
    padding-bottom:25px;
    border-bottom: 1px solid black;
    
   }

 .icerik-about > section > aside.aside2bolAwards > div:nth-child(2) > div > a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 100%;
    white-space:pre-wrap;
}


.yil {
    position: absolute;
    left: 65%;
    color: #767676;
    
}




.ok {
    font-size: 20px;
    transition: color 0.3s ease;
}

.ok:hover {
    color:#767676;
}

.sectionAwards{
  padding-bottom:100px;
  border-bottom: 1px solid black;
}
  
.aside2bolOurTeam{
  display:grid;
  grid-template-columns: 1fr 850px;
  margin-top:38px;
 }

.icerik-about>section>aside.aside2bolOurTeam>div:nth-child(1)>p{
    font-size:64px;
  }


  .borderDiv{
    border-bottom:1px solid black;
    padding-bottom:41px;
    display:flex;
    gap: 20px;
  }


.member {
   display: flex;
   flex-direction: column;
     
}

.member img {
    width: 100%;
    display: flex;
}

.member h3 {
    margin-top: 17px;
    margin-bottom:9px;
    font-size:20px;
    font-weight:normal;
}

.member p {
    color: #767676;
    font-size: 20px;
    white-space: pre-wrap;
}

.memberAlt{
  flex-direction: column;
  display: flex;
}

.memberAlt h3 {
    
    margin-bottom:9px;
    font-size:20px;
    font-weight:normal;
}

.memberAlt p {
    color: #767676;
    font-size: 20px;
    
}

   .teamAlt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 41px;
    margin-top:41px;
    margin-bottom:100px;
}
